
JamRunner/Saved/Logs/JamRunner.log
JamRunner/Saved/Autosaves/Game/Kirill/Assets/Blueprints/BP_Kotel_Auto1.uasset
JamRunner/Saved/Autosaves/Game/Kirill/Assets/Blueprints/BP_Kotel_Auto2.uasset
JamRunner/Saved/Autosaves/Game/Kirill/Assets/Blueprints/BP_RychagV02_Auto1.uasset
JamRunner/Saved/AutoScreenshot.png
JamRunner/Saved/Backup/BP_Kotel_2023-05-06-16-53-19.uasset
JamRunner/Saved/Backup/BP_Kotel_2023-05-06-17-04-48.uasset
JamRunner/Saved/Backup/BP_Kotel_2023-05-06-17-11-16.uasset
JamRunner/Saved/Backup/BP_PC_JAM_2023-05-06-17-01-18.uasset
JamRunner/Saved/Backup/BP_PC_JAM_2023-05-06-17-11-16.uasset
JamRunner/Saved/Backup/BP_RychagV02_2023-05-06-16-53-19.uasset
JamRunner/Saved/Backup/BP_RychagV02_2023-05-06-16-59-41.uasset
JamRunner/Saved/Backup/BP_RychagV02_2023-05-06-17-11-16.uasset
JamRunner/Saved/Backup/lvl_test_1_2023-05-06-17-11-15.umap
JamRunner/Saved/Config/CrashReportClient/UE4CC-Windows-B25DFB494630B05A1994CCA9C8950643/CrashReportClient.ini
JamRunner/Saved/Config/Windows/EditorPerProjectUserSettings.ini
JamRunner/Saved/Logs/JamRunner-backup-2023.05.05-23.42.51.log
JamRunner/Saved/Logs/JamRunner-backup-2023.05.06-13.38.00.log
JamRunner/Saved/Logs/JamRunner.log
JamRunner/Intermediate/CachedAssetRegistry.bin
